$color-primary: #212529;
$color-background: #fff;
$color-secondary: #fff;
$color-accent: #C8B46A;
$color-muted: #6c757d;


$font-stack: 'Segoe UI', sans-serif;

$heading-color: #000000;
$heading-font-size: 3.125rem;
$heading-font-weight: 700;

$columns: 12;
$gutter: 20px;
$max-width: 1600px;